// Custom styles.
.post {
    background-color: #fff;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 25px;
    -webkit-box-shadow: 0 0 10px rgba(202,203,203,0.7);
    -moz-box-shadow: 0 0 10px rgba(202,203,204,0.7);
}

